.product-detail-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  min-height: 90vh;
  margin: 2% auto;
  width: 90vw;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-img {
  /* border: 1px solid black; */
  height: 125px;
  width: 125px;
}

.showing-img {
  height: 610px;
  width: 610px;
}

.details-info {
  display: flex;
  flex-direction: column;
}

.name-id {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
}

.product-name {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 9%;
}

.attr-names {
  font-family: "Roboto Condensed" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.attr-container {
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  height: 80%;
  justify-content: space-evenly;
  width: 80%;
}

.attr-values {
  border: 1px solid black;
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 18px;
  line-height: 18px;
  padding: 7%;
  text-align: center;
  width: 18px;
}

.choosed {
  background-color: black;
  color: white;
}
